//fonts
$font-family--first: 'Open Sans', sans-serif;
$font-family--second: 'Source Sans Pro', sans-serif;
$font-size: 14px;

$font-first: 400 1rem $font-family--first;
$font-second: 400 1rem $font-family--second;

//media points
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1400px;
$media-xxl: 2200px;

//colors
$primary-color: #e74c3c;
$primary-color--transparent: rgba(231, 76, 60, .8);
$primary-color--hover: lighten(#e74e3e, 5%);

$second-color: #6a6a6a;
$second-color--transparent: rgba(106, 106, 106, 0.3);

$third-color: #f4f5f9;
$third-color--transparent: rgba(244, 245, 249, 0.25);

$text-color--dark: #999999;

$background-dark-color: #202020;
$additional-dark-color-transparent: rgba(32, 32, 32, 0.9);

%color-svg {
  --color-circle: #e74c3c;
  --color-line: #999999;
}






