//variables of fonts

$font-family--first: 'Open Sans', sans-serif;
$font-family--second: 'Source Sans Pro', sans-serif;
$font-size: 14px;
$bold: 700;
$regular: 400;
$semi-bold: 600;
$font-style: italic;

//%font-first { font: $regular $font-size $font-family--first }
//%font-second { font: $regular $font-size $font-family--second }
$font-first: $regular $font-size $font-family--first;
$font-second: $regular $font-size $font-family--second;
//$font-first--regular: $regular $font-size $font-family-first;
//$font-first--bold: $bold $font-size $font-family-first;
//$font-first--semi-bold: $semi-bold $font-size $font-family-first;
//$font-first--semi-bold-italic: $font-style $semi-bold $font-size $font-family-first;
//$font-second--regular: $regular $font-size $font-family-second;
//$font-second--bold: $bold $font-size $font-family-second;
//$font-second--semi-bold: $semi-bold $font-size $font-family-second;

@mixin flex($row, $column) {
  display: flex;
  justify-content: $row;
  align-items: $column;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

//@media (max-width: 600px) {
// flex-wrap: wrap;
//}


$media-phone: 400px - 100px;
$media-tablet: 600px - 100px;
$media-netbook: 800px - 100px;
$media-notebook: 1024px - 100px;
$media-PC1: 1400 - 100px;
$media-PC2: 1920px - 100px;
.d {
  color: white;
}

$main-padding: 15px;


//color
$primary-color: #e74c3c;
$primary-color-transparent: rgba(231, 76, 60, 0.8);
$primary-hover-color: lighten(#e74e3e, 5%);
//$primary-hover-color: #e74e3e;
$dark-color: #6a6a6a;
$white-color: #f4f5f9;
$text-white-color: #cbc6c0;
$text-dark-color: #999999;
$additional-dark-color: #202020;
$additional-dark-color-transparent: rgba(32, 32, 32, 0.8);
$snow-white-color: #fff;
%color-svg {
  --color-circle: #e74c3c;
  --color-line: #999999;
}
:root {
  --color-circle: #e74c3c;
  --color-line: #999999;
}
