.primary-screen {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 100px 0 50px;
  overflow: hidden;
  z-index: 50;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &::after {
    position: absolute;
    content: "";
    z-index: 5;
    bottom: -2px;
    left: 0;
    border-top: 10vh solid transparent;
    border-right: 50vw solid #fff;
    border-left: 50vw solid #fff;
    border-bottom: 40px solid #fff;
  }

  &__container {
    @include flex(center, center);
    max-width: 1920px;
    height: 100%;
  }
}

.advantages {
  padding: 125px $main-padding 110px;
  border-bottom: 1px solid #e6e7eb;

  .advantages__container {
    @include flex(space-around, center);
    @media (max-width: $media-netbook) {
      flex-wrap: wrap;
    }
  }
}

.history {
  padding: 140px $main-padding;

  .history__container {
    @include flex(space-between, center);
    flex-wrap: wrap;
  }

  &__img {
    max-width: 100%;
    margin-right: 77px;
    margin-bottom: 30px;
  }
}

.about-company {
  background-color: $additional-dark-color;

  &__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    @include flex(center, center);
    height: 800px;
    @media (max-width: $media-tablet) {
      height: 1000px;
    }
  }
}

.portfolio {
  padding: 140px 0 0;

  &__box {
    @include flex(center, center);
    flex-wrap: wrap;
  }

  &__sub-box {
    width: 25%;

    @media (max-width: $media-notebook) {
      width: 50%;
    }
    @media (max-width: $media-tablet) {
      width: 100%;
    }
  }
}

.case-study {
  padding: 140px $main-padding;
  background-color: $white-color;

  &__box {
    position: relative;
    @include flex(flex-start, center);
    max-width: 100%;
  }

  &__slider-box {
    max-width: 765px;
    margin: 30px 0;
    padding-right: 100px;
    width: 100%;
    height: 87%;
    @media (max-width: $media-phone) {
      max-width: 765px;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $media-netbook) {
      left: 20%;
      width: 80%;
    }
    @media (max-width: $media-phone) {
      display: none;
    }
  }
}

.counter {
  position: relative;
  padding: 140px $main-padding;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__container {
    @include flex(space-around, center);
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
  }
}

.pricing {
  padding: 140px $main-padding;
  background-color: $snow-white-color;

  .pricing__box {
    @include flex(space-around, center);
    flex-wrap: wrap;
  }

  .pricing__sub-box {
    width: 33.33%;
    padding: 15px;
    @include flex(center, center);
    @media (max-width: $media-notebook) {
      width: 100%;
    }
  }
}

.team {
  background-image: url('../../img/team-background.jpg');
  position: relative;
  padding: 140px $main-padding;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 744px;
  @include flex(center, flex-start);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .background-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 102%;
    height: 100%;
    fill: $primary-color;
    fill-opacity: 0.1;
    stroke: $primary-color;
    stroke-width: 3;
  }

  &__container {
    z-index: 1;
  }

  &__members {
    @include flex(space-between, center);
    position: absolute;
    max-width: 1170px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 300px;

    @media (max-width: $media-PC1) {
      max-width: 900px;
    }
    @media (max-width: $media-netbook) {
      max-width: 400px;
    }
  }

  &__box {
    &--1 {
      top: 0;
      @media (min-width: $media-TV) {
        top: -20;
      }
      @media (max-width: $media-PC1) {
        top: -28px;
      }
      @media (max-width: $media-netbook) {
        top: -45px;
      }

    }

    &--2 {
      top: -39px;
      @media (min-width: $media-TV) {
        top: -39px;
      }
      @media (max-width: $media-PC1) {
        top: -45px;
      }
      @media (max-width: $media-netbook) {
        top: -45px;
      }
    }

    &--3 {
      top: -40px;
      @media (min-width: $media-TV) {
        top: -40px;
      }
      @media (max-width: $media-PC1) {
        top: -40px;
      }
      @media (max-width: $media-netbook) {
        top: -45px;
      }
    }

    &--4 {
      top: 0;
      @media (min-width: $media-TV) {
        top: 0;
      }
      @media (max-width: $media-PC1) {
        top: -12px;
      }
      @media (max-width: $media-netbook) {
        top: -35px;
      }
    }

    &--5 {
      top: -25px;
      @media (min-width: $media-TV) {
        top: 20px;
      }
      @media (max-width: $media-PC1) {
        top: -10px;
      }
      @media (max-width: $media-netbook) {
        top: -20px;
      }
    }
  }
}

.collaboration {
  padding: 140px $main-padding;
  background-color: $white-color;
  border-bottom: 1px solid #e6e7eb;

  &__box {
    @include flex(space-around, center);
    flex-wrap: wrap;
  }

  &__link {
    max-width: 20%;
    width: 100%;
    padding: 0 5px 25px 0;
    @media (max-width: $media-notebook) {
      max-width: 25%;
    }
    @media (max-width: $media-netbook) {
      max-width: 33.33%;
    }
    @media (max-width: $media-tablet) {
      max-width: 50%;
    }
  }
}

.blog {
  padding: 140px 0;
  background-color: $white-color;
  border-bottom: 1px solid #e6e7eb;
  overflow: hidden;

  &__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  &__box {
    @include flex(center, center);
    flex-wrap: wrap;
  }

  @media (max-width: $media-PC1) {
    &__blog-card--1 {
      order: 1;
    }

    &__blog-card--2 {
      order: 3;
    }

    &__blog-card--3 {
      order: 2;
    }
    &__blog-card--4 {
      order: 4;
    }
  }
}

.communication {
  padding: 140px $main-padding;
  background-color: $white-color;

  &__box {
    @include flex(center, center);
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__sub-box {
    padding: 0 20px 20px 0;

    &--1 {
      max-width: 40%;
    }

    &--2 {
      padding-right: 0;
      max-width: 60%;
    }

    @media (max-width: $media-notebook) {
      &--1 {
        padding-right: 0;
        max-width: 100%;
      }
      &--2 {
        max-width: 100%;
      }
    }
  }
}

.suggestion {
  padding: 140px $main-padding;
  background-image: url("../../img/suggestion-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__container {
    text-align: center;
    position: relative;
  }

  &__title, {
    font-size: 2.57rem;
    color: $snow-white-color;
    font-weight: $regular;
    margin-bottom: 15px;
  }

  &__select {
    font-weight: $bold;
    color: $snow-white-color;
  }

  &__text {
    font-size: 1.28rem;
    color: $snow-white-color;
    margin-bottom: 70px;
  }


}


