.extra-menu {
  @include flex(center, center);
  margin-bottom: 50px;
  flex-wrap: wrap;

  &__link-box {
    text-transform: uppercase;
    color: $text-color--dark;

    &::after {
      content: "/";
      margin: 0 15px;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__link {
    color: $text-color--dark;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}