.member-box {
  @include flex(flex-start, center);
  flex-direction: column;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 0;
  transition: transform .9s ease-in-out;
  @media (max-width: $media-netbook) {
    @include flex(center, center);
    flex-direction: row;
    max-width: 100%;
  }

  &:hover {
    transform: scale(1.54);
    z-index: 20;

    .member-box__description {
      opacity: 1;
      @media (min-width: $media-netbook) {
        margin: 60px 0 0;
      }
      @media (max-width: $media-netbook) {
        transform: translate(75%, -50%);
      }
    }

    .member-box__photo {
      @media (max-width: $media-netbook) {
        margin-left: -80%;
      }
    }
  }

  &__description {
    margin: -65px 0 0;
    text-align: center;
    position: relative;
    opacity: 0;
    transition: .9s ease-in-out;
    @media (max-width: $media-netbook) {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      margin: 0 15px 0 15px;
    }

    &:before {
      content: "";
      width: 1px;
      height: 40px;
      position: absolute;
      bottom: 115%;
      left: 50%;
      border-radius: 5px;
      z-index: 0;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background: rgba(94, 94, 94, 0.5);
      background: radial-gradient(circle, rgba(94, 94, 94, 0.5) 0%, rgba(94, 94, 94, 0.2) 100%);
      @media (max-width: $media-netbook) {
        display: none;
      }
    }
  }

  &__name {
    color: $primary-color;
    font-size: 1.11rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1rem;
  }

  &__position {
    color: $snow-white-color;
    font: $font-second;
    font-size: 0.65rem;
    font-weight: bold;
  }

  &__photo {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 3px solid $primary-color;
    box-shadow: 3px 3px 11px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: .9s ease-in-out;
  }
}