.primary-content {
  color: $white-color;
  text-align: center;
  font-size: 1rem;
  @media (max-width: $media-PC1) {
    font-size: 0.7rem;
  }
  @media (max-width: $media-notebook) {
    font-size: 0.6rem;
  }
  @media (max-width: $media-tablet) {
    font-size: 0.5rem;
  }

  &__slogan-greeting {
    font-size: 1.71em;
    font-weight: 400;
    color: $white-color;
    margin-bottom: 1.8797em;
  }

  &__slogan-company {
    font-size: 5.14em;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    margin: 0 15px 0.632em;
    @media (max-width: $media-PC1) {
        font-size: 5.14em;
    }
    @media (max-width: $media-notebook) {
        font-size: 4.14em;
    }
    @media (max-width: $media-tablet) {
        font-size: 4.14em;
    }
  }

  &__about-company {
    max-width: 620px;
    color: $text-white-color;
    margin: 0 50px 4.857em;
    font-size: 1rem;
    @media (max-width: $media-PC1) {
        font-size: 1rem;
        margin-bottom: 1.857em;
    }
    @media (max-width: $media-notebook) {
        font-size: 0.85rem;
        margin-bottom: 1.857em;
    }
    @media (max-width: $media-tablet) {
        font-size: 0.85rem;
        margin-bottom: 1.857em;
    }
  }

  &__link-box {
    @include flex(center, center);
    flex-wrap: wrap;
    padding: 1em;
  }
}
