.project-card {
  $this: &;
  position: relative;
  width: 100%;
  line-height: 0;

  &__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box {
    @include flex(flex-end, flex-start);
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color--transparent;
    opacity: 0;
    padding: 50px;
    transition: .3s ease-in-out;

    &:hover {
      opacity: 1;

      #{$this}__title {
        top: 0
      }

      #{$this}__description {
        top: 0
      }
    }
  }

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  &__title {
    font: $font-second;
    position: relative;
    top: -100px;
    font-size: 1.74rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $third-color;
    margin-bottom: 21px;
    transition: .3s ease-in-out;
  }

  &__description {
    color: $third-color;
    position: relative;
    top: 100px;
    transition: .3s ease-in-out;
  }
}
