.social-icons {
  @include flex(center, center);

  &__link {
    display: inline-block;
  }

  &__item {
    width: 41px;
    height: 40px;
    fill: $text-color--dark;
    padding: 10px;
    transition: .3s ease-in-out;
    &:hover {
      fill: $primary-color;
    }
  }
}