.study-block {
  padding: 80px 61px 115px;
  z-index: 1;
  background-color: white;
  @media (max-width: $media-md) {
    padding: 80px 25px 115px
  }

  &__decoration {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: $primary-color;
    margin: 0 auto 60px;
  }

  &__icon-svg {
    width: 40px;
    height: 100%;
    transform: rotate(-45deg);
    fill: white;
  }

  &__title {
    font: $font-first;
    position: relative;
    font-size: 1.286rem;
    font-weight: 600;
    color: $second-color;
    margin-bottom: 58px;

    &::after {
      content: "";
      width: 41px;
      height: 2px;
      position: absolute;
      bottom: -29px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $second-color;
    }
  }

  &__description {
    margin-bottom: 46px;
  }

  &__button {
    font-size: 0.85rem;
    max-width: 145px;
    margin: 0 auto;
    height: 45px;
  }
}