.main-header {
  position: fixed;
  width: 100%;
  padding: 5px 15px;
  background-color: rgba(83, 83, 83, 0.40);
  z-index: 100;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  &__container {
    @extend .container;
    @include flex(space-between, center);
  }

  &__menu {
    @include flex(space-between, center);
    font: $font-first;
    text-transform: uppercase;
    color: $third-color;
    max-width: 650px;
    width: 100%;
    transition: left .3s ease-in-out;

    @media (max-width: $media-md) {
      position: absolute;
      top: 0;
      left: 100%;
      background-color: $additional-dark-color-transparent;
      flex-direction: column;
      padding: 10% 0 15% 0;
      max-width: 100%;
      width: 100vw;
      height: 100vh;
    }

    &--active-menu-toggle {
      left: 0;
    }
  }

  &__link {
    @include flex(center, center);
    white-space: nowrap;
    padding: 20px 5px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: $third-color;
    transition: .3s ease-in-out;

    &:hover {
      color: $primary-color--hover;
      border-bottom: 1px solid $primary-color--hover;
      @media (max-width: $media-md) {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.section-header {
  text-align: center;

  &__title {
    font: $font-second;
    text-transform: uppercase;
    font-size: 2.57rem;
    font-weight: 600;
    color: $second-color;
    margin-bottom: 29px;
    @media (max-width: $media-xl) {
      margin-bottom: 20px;
    }
    @media (max-width: $media-md) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 28px;
    @media (max-width: $media-xl) {
      margin-bottom: 20px;
    }
    @media (max-width: $media-md) {
      margin-bottom: 15px;
    }
  }
}
