.about-company {
  background-color: $background-dark-color;

  &__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include flex(center, stretch);
  }

  &__swiper-container {
    margin-right: -35px;
    height: 500px;
    @media (max-width: $media-lg) {
      margin: 0;
    }
    @media (max-width: $media-sm) {
      height: 600px;
    }
  }

  &__title {
    margin-right: 81px;
  }

  &__box {
    width: 50%;
    height: 100%;
    padding: 50px 0 50px 0;
    @media (max-width: $media-lg) {
      width: 100%;
      padding-right: 50px;
    }
    @media (max-width: $media-sm) {
      padding-right: 15px;
    }
  }

  &__image-box {
    width: 50%;
    background-image: url("../../../img/photo-about-company.jpg");
    background-size: cover;
    background-position: left;
    @media (max-width: $media-lg) {
      display: none;
    }
  }
}
