.blog {
  &__container {
    padding: 0 $main-padding;
  }

  &__box {
    @include flex(center, center);
    flex-wrap: wrap;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  @media (max-width: $media-PC0) {
    &__blog-card--1 {
      order: 1;
    }

    &__blog-card--2 {
      order: 3;
    }

    &__blog-card--3 {
      order: 2;
    }
    &__blog-card--4 {
      order: 4;
    }
  }
}