.collaboration {
  background-color: $white-color;
  border-bottom: 1px solid #e6e7eb;

  &__box {
    @include flex(space-around, center);
    flex-wrap: wrap;
  }

  &__link {
    max-width: 20%;
    width: 100%;
    padding: 0 5px 25px 0;
    @media (max-width: $media-notebook) {
      max-width: 25%;
    }
    @media (max-width: $media-netbook) {
      max-width: 33.33%;
    }
    @media (max-width: $media-tablet) {
      max-width: 50%;
    }
  }
}
