.communication {
  background-color: $white-color;

  &__box {
    @include flex(center, center);
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__sub-box {
    padding: 0 20px 20px 0;

    &--small {
      width: 40%;
    }

    &--big {
      padding-right: 0;
      width: 60%;
    }

    @media (max-width: $media-notebook) {
      &--small {
        padding-right: 0;
        max-width: 100%;
      }

      &--big {
        max-width: 100%;
      }
    }
  }
}
