.portfolio {
  &__container {
    padding: 0 15px;
  }

  &__box {
    @include flex(center, center);
    flex-wrap: wrap;
    max-lines: 1;
  }

  &__sub-box.active-tab {
    display: block;
  }

  &__sub-box {
    width: 25%;
    display: none;

    @media (max-width: $media-lg) {
      width: 50%;
    }
    @media (max-width: $media-sm) {
      width: 100%;
    }
  }
}
